<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Data Upload API</title>
  </head>
  <body>

    <!-- <form class="" action="/api/upload" method="post">
      <input type="email" name="teacherEmail" value="" placeholder="Teacher Email">
      <input type="text" name="teacherName" value="" placeholder="Teacher Name">
      <input type="email" name="studentEmail" value="" placeholder="Student Email">
      <input type="text" name="studentName" value="" placeholder="Student Name">
      <input type="text" name="classCode" value="" placeholder="Class Code">
      <input type="text" name="className" value="" placeholder="Class Name">
      <input type="text" name="subjectCode" value="" placeholder="Subject Code">
      <input type="text" name="subjectName" value="" placeholder="Subject Name">
      <input type="text" name="toDelete" value="" placeholder="To Delete">
      <button type="submit" name="Button">Submit</button>
    </form> -->

    <form action="/api/upload" method="post" enctype="multipart/form-data" class="box login">
     <input type="file" name="data">
     <input type="submit" class="" value="Upload" tabindex="1">
   </form>

  </body>
</html>
